body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/latpop.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    background-image: linear-gradient(horizontal,black, white);
    color: gray;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out; 
}

header a{
    font-weight: bolder;
    
}

header.hide {
    transform: translateY(-100%);
}

header h1 {
    font-size: 2em;
    margin: 0;
    display: inline-block;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: gray;
    font-size: 1.1em;
    transform: scale(1.1);
}

section {
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: white;
    color: gray;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #333;
}

footer.scrolled {
    background-color: #df2e16;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
    padding: 0 10%;
  
}

#projects h2{
    color: white;
}

.project {
    flex: 0 0 100%; 
    max-width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.project h3 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 15px;
    
}

.project h3, .project p {
    margin: 10px 0;
}

.project p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.project a {
    padding: 12px 20px;
    color: white;
    background-color: #7a828a;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project a:hover {
    background-color: transparent;
    color: #333;
    transform: scale(1.05);
}

.project img {
    width: 70%; 
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}


.projects-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


#about {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 0;
    background-color: transparent;
    color: white;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.card {
    width: 350px;
    height: 200px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; 
    /*transition: transform 0.3s ease, box-shadow 0.3s ease; */
    position: relative;
    z-index: 1; 
}
.card:hover {
    transform: scale(1.1);
    z-index: 10; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: white; 
    opacity: 0.9;
    color: gray;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2em;
}

.card-body {
    padding: 10px;
    font-size: 0.9em;
    height: 80px; 
    overflow: hidden;
    transition: height 0.3s ease; 
    font-size: large;
    color: gray;
}


.card-body p {
    transition: color 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card:hover .card-body {
    height: 150px; 
    background-color: white;
}

.card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}

#contact{
    background-color: transparent;
}

#contact h2{
    color: white;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.slider-container {
    position: relative;
    width: 50%; 
    margin: auto;
    overflow: hidden;
    height: 80%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.slider-btn:hover {
    background-color: white;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

#contact a {
    color: #0077b5; 
    text-decoration: none; 
}

#contact a:hover {
    color: #005582; 
    text-decoration: underline;
}


.experience-container {
    display: flex;
    justify-content: center;
    gap: 40px; 
    
}


.experience-card {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 1;
}


.experience-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.experience-card h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}


.experience-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-card li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.experience-card span {
    color: #0077b5; 
    font-size: 1.2em;
    margin-right: 10px;
}

.experience-card strong {
    font-weight: bold;
    color: #222;
}

.experience-card p {
    font-size: 0.9em;
    color: #777;
    margin: 0;
}

#abouttwo {
    margin-top: 100px; 
    height: 200px;
}

#abouttwo h2{
    color: white;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
    margin-top: 20px;
}


.skill {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: left; 
}

.skill span {
    font-size: 20px; 
    color: #4CAF50; 
}

.skill p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #777;
}

.skill i{
    font-size: large;
}

.white-text {
    color: white;
  }

  .black-text {
    color: #0077b5;
  }

  .black-text a {
    color: #0077b5; 
    text-decoration: none;
  }

  .black-text a:hover {
    text-decoration: underline; 
  }


/*@media screen and (max-width: 468px) {
    
    .experience-container {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .experience-card {
        width: 95%; 
        padding: 10px; 
        margin-bottom: 5px; 
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
        border-radius: 5px; 
    }


    .experience-card h3 {
        font-size: 18px; 
        text-align: center; 
        margin-bottom: 10px; 
    }


    .experience-card ul {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none; 
    }


    .experience-card li {
        display: flex; 
        align-items: center;
        font-size: 12px;
        margin-bottom: 8px; 
    }

   
    .experience-card li span {
        margin-right: 8px; 
        font-size: 14px;
        color: #333; 
    }

   
    .slider {
        width: 100%; 
        margin: 10px auto; 
    }

    .slider img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        border-radius: 5px; 
    }


    .slider-navigation {
        display: flex;
        justify-content: center; 
        margin-top: 10px; 
    }

    .slider-navigation button {
        width: 10px;
        height: 10px;
        margin: 0 5px; 
        border: none;
        border-radius: 50%; 
        background-color: #ccc; 
        cursor: pointer;
    }

    .slider-navigation button.active {
        background-color: #555; 
    }

    
    footer {
        font-size: 10px;
        text-align: center;
        padding: 10px 0; 
    }
}
/*